node_modules/
build/
*.class
**/target
**/webapp/userfiles
**/WEB-INF/classes
**/logs/log*.log
*.log
.attach*
.classpath
.project
*.zip
.idea
*.ipr
*.iml
*.iws
*.lic
rebel.xml
/.factorypath
/.springBeans
