$message_box_background: rgba(19,23,28,.81);   //消息栏背景颜色
$start_menus_background: rgba(0,0,0,.3);    //开始菜单栏背景颜色
$start_box_background_color: rgba(0,0,0,.4);    //纯色下开始菜单栏背景颜色
$start_box_background:rgba(3,12,27,.9);   //开始菜单背景颜色
$white_transparent: rgba(255,255,255,.2); //白色透明
$gray_font_title:#c7c7c7; //灰色字体标题
$gray_font:#999;    //灰色字体
$fill1-1_color:#333646; //填充色Fill1-1
$line1-1_color:#434557; //填充色Line1-1
$text1-2_color:#767682; //字体色Text1-2

.next-tree {
  .next-tree-node-inner {
    &:focus {
      outline: none;
    }
  }
}

.message_box{
  background-color: $message_box_background;
  .message_box_header{
    &:hover{
      background-color:$white_transparent;
    }
    span{
      color: $gray_font;
      &:hover{
        color:#fff;
      }
    }
  }
  .message_box_content{
    border-top: 1px solid $white_transparent;
    ul{
      li{
        &:hover{
          background-color:$white_transparent;
          h3,p{
            color:#fff;
          }
        }
        h3{
          color:$gray_font_title;
        }
        p{
          color: $gray_font;
        }
        i{
          color: $gray_font;
          &:hover{
            color:#fff;
          }
        }
      }
    }
  }
}

.start_menus{
  background-color: $start_menus_background;
}
.start_box{
  .start_box_background_change{
    background-color: $start_box_background;
  }
  .start_box_background_change_color{
    background-color: $start_box_background_color;
  }
  .start_box_left{
    .start_box_left_user{
      color:$gray_font;
      border-right: 1px solid $white_transparent;
      .start_box_left_info{
        h3{
          color:$gray_font_title;
        }
      }
      .start_box_left_vip{
        .start_box_left_vip_info{
          i{
            color:#F7D156;
          }
        }
      }
      .start_box_left_operating{
        ul{
          li{
            div{
              &:hover{
                i{
                  color:#fff;
                }
                span{
                  color:#fff;
                }
              }
            }
          }
        }
      }
    }
    .start_box_left_menus{
      .next-menu{
        border: none;
      }
      .next-nav-item{
        .next-menu-item-inner{
          color:$gray_font_title;
        }
        &:hover{
          background-color: $white_transparent;
        }
      }
    }
  }
}
.system_control,.file_manage{
  nav {
    .next-tree {
      .next-tree-node-inner {
        .next-tree-node-label{
          a{
            color: $text1-2_color;
          }
        }
      }
    }
  }
  main{
    .system_control_main_table{
    }
  }
}

.content_right{
  color: $text1-2_color;
  .desktop_set_preview_start{
    background-color: $start_menus_background;
  }
  .desktop_set_preview_start_box_image{
    background-color: $start_box_background;
  }
  .desktop_set_preview_start_box_color{
    background-color: $start_box_background_color;
  }
  .next-radio-label{
    color: $text1-2_color;
  }
}