@import url(~@alifd/theme-2786/dist/next.css);
@font-face {
  font-family: 'iconfontmac';
  /* project id 933820 */
  src: url("//at.alicdn.com/t/font_933820_s9sulpn3hc.eot");
  src: url("//at.alicdn.com/t/font_933820_s9sulpn3hc.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_933820_s9sulpn3hc.woff2") format("woff2"), url("//at.alicdn.com/t/font_933820_s9sulpn3hc.woff") format("woff"), url("//at.alicdn.com/t/font_933820_s9sulpn3hc.ttf") format("truetype"), url("//at.alicdn.com/t/font_933820_s9sulpn3hc.svg#iconfontmac") format("svg"); }
.iconfont {
  font-family: "iconfontmac" !important;
  font-size: 17px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.desktop {
  overflow: hidden;
  z-index: 1; }

.message_box_expand-enter {
  overflow: hidden; }

.message_box_expand-enter-active {
  transition: right 0.2s ease-out; }

.message_box_expand-leave {
  overflow: hidden; }

.message_box_expand-leave-active {
  transition: right 0.2s ease-out; }

.message_box {
  z-index: 9; }
  .message_box .message_box_header {
    transition: background-color 0.2s ease-out; }
    .message_box .message_box_header h2 {
      font-size: 16px;
      padding: 20px 0 0 10px; }
    .message_box .message_box_header span {
      float: right;
      cursor: pointer;
      font-size: 12px;
      display: block;
      text-align: right;
      padding: 0 10px 6px 0; }
  .message_box .message_box_content ul li {
    position: relative;
    transition: background-color 0.2s ease-out;
    padding: 10px 12px 15px;
    margin-bottom: 3px; }
    .message_box .message_box_content ul li h3 {
      font-weight: normal;
      font-size: 15px; }
    .message_box .message_box_content ul li p {
      margin-top: 3px;
      font-size: 12px;
      line-height: 14px; }
    .message_box .message_box_content ul li i {
      position: absolute;
      right: 15px;
      top: 13px;
      cursor: pointer; }

.start_menus {
  z-index: 1000;
  color: #fff; }
  .start_menus .start_menus_logo {
    font-size: 34px;
    text-align: center;
    line-height: 40px;
    padding: 0 18px;
    cursor: pointer; }
    .start_menus .start_menus_logo:hover {
      background-color: rgba(255, 255, 255, 0.1); }
  .start_menus .start_menus_win {
    z-index: 1001;
    width: 140px;
    height: 37px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
    cursor: pointer;
    margin-left: 2px;
    transition: background-color .3s ease-out; }
    .start_menus .start_menus_win:hover {
      background-color: rgba(255, 255, 255, 0.3) !important; }
      .start_menus .start_menus_win:hover .start_menus_win_box i {
        visibility: visible; }
    .start_menus .start_menus_win.active {
      background-color: rgba(255, 255, 255, 0.2); }
    .start_menus .start_menus_win .start_menus_win_box {
      width: 100%;
      padding: 0 10px; }
      .start_menus .start_menus_win .start_menus_win_box img {
        margin: auto 5px auto 0px;
        display: block;
        width: 24px;
        height: 24px; }
      .start_menus .start_menus_win .start_menus_win_box h3 {
        display: block;
        line-height: 37px;
        font-size: 12px; }
      .start_menus .start_menus_win .start_menus_win_box i {
        display: block;
        position: absolute;
        top: 3px;
        right: 5px;
        color: rgba(255, 255, 255, 0.4);
        visibility: hidden;
        z-index: 1003; }
        .start_menus .start_menus_win .start_menus_win_box i:hover {
          color: rgba(255, 255, 255, 0.8); }
    .start_menus .start_menus_win .start_menus_win_cover {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1002; }
  .start_menus .data_time {
    height: 100%;
    font-size: 13px;
    padding: 4px 10px;
    text-align: center; }
    .start_menus .data_time:hover {
      background-color: rgba(255, 255, 255, 0.1); }
  .start_menus .start_menus_message {
    line-height: 40px;
    padding: 0 10px; }
    .start_menus .start_menus_message i {
      font-size: 20px; }
    .start_menus .start_menus_message:hover {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.1); }

.start_box_expand-enter {
  overflow: hidden; }

.start_box_expand-enter-active {
  transition: bottom 0.1s ease-out; }

.start_box_expand-leave {
  overflow: hidden; }

.start_box_expand-leave-active {
  transition: bottom 0.1s ease-out; }

.start_box {
  width: 854px;
  height: 370px;
  z-index: 1001; }
  .start_box .start_box_left {
    padding: 40px 20px 20px 0px; }
    .start_box .start_box_left .start_box_left_user {
      width: 140px;
      position: relative; }
      .start_box .start_box_left .start_box_left_user .start_box_left_info {
        text-align: center; }
        .start_box .start_box_left .start_box_left_user .start_box_left_info img {
          width: 50px;
          height: 50px; }
        .start_box .start_box_left .start_box_left_user .start_box_left_info h3 {
          font-size: 14px; }
        .start_box .start_box_left .start_box_left_user .start_box_left_info p {
          font-size: 13px; }
      .start_box .start_box_left .start_box_left_user .start_box_left_vip {
        margin-top: 10px;
        text-align: center; }
        .start_box .start_box_left .start_box_left_user .start_box_left_vip .start_box_left_vip_info {
          padding: 10px 0 0px 30px;
          font-size: 13px;
          overflow: hidden; }
          .start_box .start_box_left .start_box_left_user .start_box_left_vip .start_box_left_vip_info i {
            margin-top: -4px;
            display: block;
            float: left;
            font-size: 21px; }
          .start_box .start_box_left .start_box_left_user .start_box_left_vip .start_box_left_vip_info span {
            display: block;
            float: left; }
      .start_box .start_box_left .start_box_left_user .start_box_left_operating {
        position: absolute;
        bottom: -12px;
        width: 100%; }
        .start_box .start_box_left .start_box_left_user .start_box_left_operating ul li {
          padding: 0px 0px 0px 15px; }
          .start_box .start_box_left .start_box_left_user .start_box_left_operating ul li > div {
            overflow: hidden;
            width: 30px;
            cursor: pointer; }
          .start_box .start_box_left .start_box_left_user .start_box_left_operating ul li i {
            display: block;
            font-size: 24px;
            float: left;
            margin-top: 0px; }
          .start_box .start_box_left .start_box_left_user .start_box_left_operating ul li span {
            float: left;
            display: block;
            margin-top: -8px;
            margin-left: 5px;
            font-size: 14px; }
    .start_box .start_box_left .start_box_left_menus {
      width: 180px; }
      .start_box .start_box_left .start_box_left_menus .next-menu {
        border: none !important;
        background-color: transparent !important;
        box-shadow: none !important; }
        .start_box .start_box_left .start_box_left_menus .next-menu .next-nav-item {
          background-color: transparent; }
          .start_box .start_box_left .start_box_left_menus .next-menu .next-nav-item .next-menu-item-text {
            display: block;
            overflow: hidden;
            height: 40px; }
            .start_box .start_box_left .start_box_left_menus .next-menu .next-nav-item .next-menu-item-text img {
              float: left;
              margin: 7px 8px 0 0;
              border-radius: 3px;
              line-height: 40px;
              width: 24px;
              height: 24px; }
  .start_box .start_box_right {
    width: 100%; }
    .start_box .start_box_right .start_box_right_header h2 {
      padding: 14px 0;
      font-size: 18px; }
    .start_box .start_box_right .start_box_right_content {
      height: 100%;
      padding-right: 10px; }
      .start_box .start_box_right .start_box_right_content .start_box_application {
        position: relative;
        height: 120px;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.1); }
        .start_box .start_box_right .start_box_right_content .start_box_application:hover .start_box_application_hover {
          visibility: visible; }
        .start_box .start_box_right .start_box_right_content .start_box_application img {
          width: 100%;
          height: 100%; }
        .start_box .start_box_right .start_box_right_content .start_box_application h4 {
          position: absolute;
          bottom: -5px;
          left: 5px;
          font-size: 12px; }
        .start_box .start_box_right .start_box_right_content .start_box_application .start_box_application_hover {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          border: 2px solid rgba(255, 255, 255, 0.5);
          visibility: hidden; }
  .start_box .start_box_cover {
    position: absolute;
    width: 100%;
    height: calc(100% + 37px);
    z-index: 1000; }

.desktop_apps {
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap; }
  .desktop_apps .desktop_app {
    text-align: center;
    width: 60px;
    margin: 0 5px 0 0;
    padding: 10px 0 0;
    cursor: pointer;
    transition: background-color 0.3s ease-out; }
    .desktop_apps .desktop_app:hover {
      background-color: rgba(255, 255, 255, 0.3); }
    .desktop_apps .desktop_app img {
      border-radius: 3px;
      height: 50px;
      width: 50px; }
    .desktop_apps .desktop_app h3 {
      font-family: "Microsoft YaHei";
      padding: 0 3px;
      line-height: 17px;
      font-weight: normal;
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis; }

.window_expand-enter {
  overflow: hidden; }

.window_expand-enter-active {
  transition: all 0.1s ease-out; }

.window_expand-leave {
  overflow: hidden; }

.window_expand-leave-active {
  transition: all 0.2s ease-out; }

.next-loading-wrap {
  height: 100%; }

/*# sourceMappingURL=index.css.map */
