.system_control{
  height: 100%;
  nav{
    height: 100%;
    .next-tree{
      .next-tree-node-inner{
        &:focus{
          outline: none;
        }
        .next-tree-node-label{
          a{
            text-decoration:none;
            &.active{
              font-weight: bold;
            }
          }
        }
      }
    }

  }
  main{
    background-color: #fff;
    height: 100%;
    .next-breadcrumb{
      height: auto;
      padding: 8px 0 8px 10px;
    }
    .system_control_main_search{
      padding: 10px 20px 0;
    }
    .system_control_main_table{
      margin: 10px 20px;
      .next-pagination{
        text-align: right;
        margin-top: 10px;
      }
    }
  }
}