@import "./StyleValue";

.window-cover {
  opacity: 0.1;
  background-color: green;
}
.window-cover-m {
  opacity: 1;
  background-color: green;
  background-image: url("../../imgs/reading.svg");
}
.window-cover-l {
  opacity: 1;
  background-color: green;
}
.user-info-menu-logo {
  width:26px;
  height:26px;
  border-radius:13px;
  border:2px cornsilk solid;
}
.user-info-tlp{
  font-size: 24px;
  position: absolute;
  color:#000000;
  margin-left:6px;
  width:200px;
  height:300px;
  a {
    color:#000000;
  }

  ul{
    position: relative;
    margin-left:0px;
    padding-left:0px;
    li{
      position: relative;
      margin-top: 8px;
      padding-left:8px;
      display: block;
      width:200px;
      line-height: 32px;
      vertical-align: center;
      white-space:nowrap;
      &:hover{
        background-color: $menu_hover_lan;
      }
    }
  }
}
.start_menu_tlp{
  font-size: 30px;
  position: absolute;
  color:#000000;
  margin-left:0px;
  z-index: 999;
  .start_menu_tlp_left {
    border-right: 2px solid #F2F2F2;
    ul{
      position: relative;
      margin-left:0px;
      padding-left:0px;
      li{
        position: relative;
        margin-top: 8px;
        padding-left:8px;
        display: block;
        width:180px;
        white-space:nowrap;
        &:hover{
          background-color: $menu_hover_lan;
        }
      }

    }
  }
  .start_menu_tlp_right {
    ul{
      position: relative;
      margin-left:0px;
      padding-left:0px;
      li{
        position: relative;
        margin-top: 8px;
        padding-left:8px;
        display: block;
        width:420px;
        height:56px;
        white-space:nowrap;
        &:hover{
          background-color: $menu_hover_lan;
        }
        .start_menu_app_logo {
          height:56px;
          border-radius: 6px;
        }
        .start_menu_app_name {
          vertical-align: middle;
          line-height: 56px;
          align-content: center;
          display: inline-block;
          margin-bottom: 40px;
          margin-left: 10px;
        }
      }

    }
  }

}